source https://nuget.org/api/v2

nuget FSharp.Core  redirects:force, content:none
nuget Fable.Core
nuget Fable.PowerPack
nuget SourceLink.Create.CommandLine copy_local: true

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
