source https://nuget.org/api/v2

nuget FSharp.Core  redirects:force, content:none, >= 4.2.3
nuget Fable.Core
nuget Fable.PowerPack
nuget SourceLink.Create.CommandLine copy_local: true

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE >= 5.0.0
    nuget FSharp.Formatting
    nuget Octokit 0.28


    github fsharp/FAKE modules/Octokit/Octokit.fsx
