source https://nuget.org/api/v2
storage: none

nuget FsCheck
nuget FsCheck.NUnit
nuget FSharp.Core  redirects:force, content:none, >= 4.2.3
nuget Fable.Core prerelease
nuget SourceLink.Create.CommandLine copy_local: true
nuget nunit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget Unquote
